<a href="https://colab.research.google.com/github/Teriekarie/Historical_inflation_rates_of_Nigeria/blob/main/cleaned_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#importing libraries

In [189]:
from bs4 import BeautifulSoup # parsing the HTML contents
import requests # requests for approval for the data to be web scrapped, and also to get the html contents
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [190]:
td = "table data"
tr = "table rows"
th = "table head"

In [191]:
# Downloading contents of the web page
url = "https://www.worlddata.info/africa/nigeria/inflation-rates.php"
r = requests.get(url)
#r.status_code
soup = BeautifulSoup(r.content)
soup
# r.content

<!DOCTYPE HTML>

In [192]:
list_row = []
for header in soup.find_all("th"):
  list_row.append(header.text)

df = pd.DataFrame(columns= list_row)
df

Empty DataFrame
Columns: [Year, Nigeria, Ø EU, Ø USA, Ø World]
Index: []

In [193]:
tr_ = soup.find_all("tr")
list_of_rows = []
for table_row in range(1,len(tr_)):
    list_for_each_row = [] 
    tr_mini = tr_[table_row]
    for row in tr_mini:
        list_for_each_row.append(row.text)
    list_of_rows.append(list_for_each_row)

for i in list_of_rows:
    print(i)
    df.loc[len(df)] = i
    


#     list_of_rows.append(list_for_each_row)
#     print(list_of_rows)
#df1
# tr_mini
# list_for_each_row
# print(list_of_rows)
df

['2021', '16.95 %', '2.55 %', '4.70 %', '3.42 %']
['2020', '13.25 %', '0.50 %', '1.23 %', '1.92 %']
['2019', '11.40 %', '1.63 %', '1.81 %', '2.19 %']
['2018', '12.09 %', '1.74 %', '2.44 %', '2.44 %']
['2017', '16.52 %', '1.43 %', '2.13 %', '2.19 %']
['2016', '15.68 %', '0.18 %', '1.26 %', '1.55 %']
['2015', '9.01 %', '-0.06 %', '0.12 %', '1.43 %']
['2014', '8.06 %', '0.20 %', '1.62 %', '2.35 %']
['2013', '8.48 %', '1.22 %', '1.46 %', '2.62 %']
['2012', '12.22 %', '2.66 %', '2.07 %', '3.73 %']
['2011', '10.84 %', '3.29 %', '3.16 %', '4.82 %']
['2010', '13.72 %', '1.53 %', '1.64 %', '3.35 %']
['2009', '12.55 %', '0.84 %', '-0.36 %', '2.94 %']
['2008', '11.58 %', '4.16 %', '3.84 %', '8.95 %']
['2007', '5.39 %', '2.51 %', '2.85 %', '4.82 %']
['2006', '8.23 %', '2.67 %', '3.23 %', '4.28 %']
['2005', '17.86 %', '2.49 %', '3.39 %', '4.11 %']
['2004', '15.00 %', '2.29 %', '2.68 %', '3.38 %']
['2003', '14.03 %', '2.09 %', '2.27 %', '3.03 %']
['2002', '12.88 %', '2.42 %', '1.59 %', '2.83 %']
['2001', '18.87 %', '3.37 %', '2.83 %', '3.84 %']
['2000', '6.93 %', '3.15 %', '3.38 %', '3.49 %']
['1999', '6.62 %', '2.16 %', '2.19 %', '3.08 %']
['1998', '10.00 %', '2.42 %', '1.55 %', '5.11 %']
['1997', '8.53 %', '3.11 %', '2.34 %', '5.57 %']
['1996', '29.27 %', '3.56 %', '2.93 %', '6.55 %']
['1995', '72.84 %', '4.43 %', '2.81 %', '9.15 %']
['1994', '57.03 %', '4.72 %', '2.61 %', '10.32 %']
['1993', '57.17 %', '4.85 %', '2.95 %', '7.51 %']
['1992', '44.59 %', '6.22 %', '3.03 %', '7.71 %']
['1991', '13.01 %', '5.48 %', '4.23 %', '9.00 %']
['1990', '7.36 %', '6.15 %', '5.40 %', '8.13 %']
['1989', '50.47 %', '6.26 %', '4.83 %', '7.00 %']
['1988', '54.51 %', '4.54 %', '4.08 %', '7.15 %']
['1987', '11.29 %', '4.02 %', '3.66 %', '5.76 %']
['1986', '5.72 %', '3.68 %', '1.90 %', '5.82 %']
['1985', '7.44 %', '5.40 %', '3.55 %', '6.86 %']
['1984', '17.82 %', '7.67 %', '4.30 %', '8.12 %']
['1983', '23.21 %', '8.67 %', '3.21 %', '8.77 %']
['1982', '7.70 %', '9.58 %', '6.13 %', '10.24 %']
['1981', '20.81 %', '11.77 %', '10.33 %', '12.47 %']
['1980', '9.97 %', '12.91 %', '13.55 %', '13.98 %']
['1979', '11.71 %', '8.22 %', '11.25 %', 'n/a']
['1978', '21.71 %', '7.76 %', '7.63 %', 'n/a']
['1977', '15.09 %', '9.77 %', '6.50 %', 'n/a']
['1976', '24.30 %', '9.35 %', '5.74 %', 'n/a']
['1975', '33.96 %', '10.47 %', '9.14 %', 'n/a']
['1974', '12.67 %', '13.16 %', '11.05 %', 'n/a']
['1973', '5.40 %', '7.75 %', '6.18 %', 'n/a']
['1972', '3.46 %', '6.01 %', '3.27 %', 'n/a']
['1971', '16.00 %', '5.24 %', '4.29 %', 'n/a']
['1970', '13.76 %', '4.51 %', '5.84 %', 'n/a']
['1969', '10.16 %', '2.67 %', '5.46 %', 'n/a']
['1968', '-0.48 %', '3.24 %', '4.27 %', 'n/a']
['1967', '-3.73 %', '3.32 %', '2.77 %', 'n/a']
['1966', '9.69 %', '3.70 %', '3.02 %', 'n/a']
['1965', '4.10 %', '3.99 %', '1.59 %', 'n/a']
['1964', '0.86 %', '3.42 %', '1.28 %', 'n/a']
['1963', '-2.69 %', '2.92 %', '1.24 %', 'n/a']
['1962', '5.27 %', '3.55 %', '1.20 %', 'n/a']
['1961', '6.28 %', '2.08 %', '1.07 %', 'n/a']
['1960', '5.44 %', '1.74 %', '1.46 %', 'n/a']

    Year  Nigeria    Ø EU   Ø USA Ø World
0   2021  16.95 %  2.55 %  4.70 %  3.42 %
1   2020  13.25 %  0.50 %  1.23 %  1.92 %
2   2019  11.40 %  1.63 %  1.81 %  2.19 %
3   2018  12.09 %  1.74 %  2.44 %  2.44 %
4   2017  16.52 %  1.43 %  2.13 %  2.19 %
..   ...      ...     ...     ...     ...
57  1964   0.86 %  3.42 %  1.28 %     n/a
58  1963  -2.69 %  2.92 %  1.24 %     n/a
59  1962   5.27 %  3.55 %  1.20 %     n/a
60  1961   6.28 %  2.08 %  1.07 %     n/a
61  1960   5.44 %  1.74 %  1.46 %     n/a

[62 rows x 5 columns]

In [194]:
df.head()

   Year  Nigeria    Ø EU   Ø USA Ø World
0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4  2017  16.52 %  1.43 %  2.13 %  2.19 %

In [195]:
#saving the scrapped data to a csv file
df.to_csv('/content/drive/MyDrive/STUTERN 1.3 ASSIGNMENT/INTERMEDIATE/CBN.csv')

#Cleaning the dataset


*   investigating the data to check for missing values and anyother cleaning necessary
*   preparing the data for visualisation

In [196]:
#reading the dataframe
df = pd.read_csv('/content/drive/MyDrive/STUTERN 1.3 ASSIGNMENT/INTERMEDIATE/CBN.csv')
df.head()

   Unnamed: 0  Year  Nigeria    Ø EU   Ø USA Ø World
0           0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1           1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2           2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3           3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4           4  2017  16.52 %  1.43 %  2.13 %  2.19 %

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  62 non-null     int64
 1   Year        62 non-null     int64
 2   Nigeria     62 non-null     object
 3   Ø EU        62 non-null     object
 4   Ø USA       62 non-null     object
 5   Ø World     42 non-null     object
dtypes: int64(2), object(4)
memory usage: 3.0+ KB

In [198]:
#dropping irrelevant column
to_drop = ['Unnamed: 0']
 
df.drop(to_drop, inplace=True, axis=1)

In [199]:
df.head()

   Year  Nigeria    Ø EU   Ø USA Ø World
0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4  2017  16.52 %  1.43 %  2.13 %  2.19 %

In [200]:
df.columns=df.columns.str.replace('[%,Ø]','')
df.head()

<ipython-input-200-68d52da00121>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns=df.columns.str.replace('[%,Ø]','')

   Year  Nigeria      EU     USA   World
0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4  2017  16.52 %  1.43 %  2.13 %  2.19 %

In [201]:
df.rename(columns={'Ø EU': 'EU'},inplace=True)
df.rename(columns={'Ø USA': 'USA'},inplace=True)
df.rename(columns={'Ø World': 'World'},inplace=True)
df.head()

   Year  Nigeria      EU     USA   World
0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4  2017  16.52 %  1.43 %  2.13 %  2.19 %

In [202]:
#removing trailing whitespaces from columns
df.columns = df.columns.str.strip()
df.head()

   Year  Nigeria      EU     USA   World
0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4  2017  16.52 %  1.43 %  2.13 %  2.19 %

In [203]:
#Check for missing values
df.isnull().sum()

Year        0
Nigeria     0
EU          0
USA         0
World      20
dtype: int64

In [204]:
df.shape

(62, 5)

In [205]:
#dropping missing values
df.dropna(inplace=True)
print(df)

    Year  Nigeria       EU      USA    World
0   2021  16.95 %   2.55 %   4.70 %   3.42 %
1   2020  13.25 %   0.50 %   1.23 %   1.92 %
2   2019  11.40 %   1.63 %   1.81 %   2.19 %
3   2018  12.09 %   1.74 %   2.44 %   2.44 %
4   2017  16.52 %   1.43 %   2.13 %   2.19 %
5   2016  15.68 %   0.18 %   1.26 %   1.55 %
6   2015   9.01 %  -0.06 %   0.12 %   1.43 %
7   2014   8.06 %   0.20 %   1.62 %   2.35 %
8   2013   8.48 %   1.22 %   1.46 %   2.62 %
9   2012  12.22 %   2.66 %   2.07 %   3.73 %
10  2011  10.84 %   3.29 %   3.16 %   4.82 %
11  2010  13.72 %   1.53 %   1.64 %   3.35 %
12  2009  12.55 %   0.84 %  -0.36 %   2.94 %
13  2008  11.58 %   4.16 %   3.84 %   8.95 %
14  2007   5.39 %   2.51 %   2.85 %   4.82 %
15  2006   8.23 %   2.67 %   3.23 %   4.28 %
16  2005  17.86 %   2.49 %   3.39 %   4.11 %
17  2004  15.00 %   2.29 %   2.68 %   3.38 %
18  2003  14.03 %   2.09 %   2.27 %   3.03 %
19  2002  12.88 %   2.42 %   1.59 %   2.83 %
20  2001  18.87 %   3.37 %   2.83 %   3.84 %
21  2000   6.93 %   3.15 %   3.38 %   3.49 %
22  1999   6.62 %   2.16 %   2.19 %   3.08 %
23  1998  10.00 %   2.42 %   1.55 %   5.11 %
24  1997   8.53 %   3.11 %   2.34 %   5.57 %
25  1996  29.27 %   3.56 %   2.93 %   6.55 %
26  1995  72.84 %   4.43 %   2.81 %   9.15 %
27  1994  57.03 %   4.72 %   2.61 %  10.32 %
28  1993  57.17 %   4.85 %   2.95 %   7.51 %
29  1992  44.59 %   6.22 %   3.03 %   7.71 %
30  1991  13.01 %   5.48 %   4.23 %   9.00 %
31  1990   7.36 %   6.15 %   5.40 %   8.13 %
32  1989  50.47 %   6.26 %   4.83 %   7.00 %
33  1988  54.51 %   4.54 %   4.08 %   7.15 %
34  1987  11.29 %   4.02 %   3.66 %   5.76 %
35  1986   5.72 %   3.68 %   1.90 %   5.82 %
36  1985   7.44 %   5.40 %   3.55 %   6.86 %
37  1984  17.82 %   7.67 %   4.30 %   8.12 %
38  1983  23.21 %   8.67 %   3.21 %   8.77 %
39  1982   7.70 %   9.58 %   6.13 %  10.24 %
40  1981  20.81 %  11.77 %  10.33 %  12.47 %
41  1980   9.97 %  12.91 %  13.55 %  13.98 %

In [206]:
df.isnull().sum()

Year       0
Nigeria    0
EU         0
USA        0
World      0
dtype: int64

In [208]:
df.head()

   Year  Nigeria      EU     USA   World
0  2021  16.95 %  2.55 %  4.70 %  3.42 %
1  2020  13.25 %  0.50 %  1.23 %  1.92 %
2  2019  11.40 %  1.63 %  1.81 %  2.19 %
3  2018  12.09 %  1.74 %  2.44 %  2.44 %
4  2017  16.52 %  1.43 %  2.13 %  2.19 %

removing symbols from the dataframe

In [209]:
df["EU"]= df["EU"].str.replace("%", "")

In [210]:
df["Nigeria"]= df["Nigeria"].str.replace("%", "")
df["USA"]= df["USA"].str.replace("%", "")
df["World"]= df["World"].str.replace("%", "")

In [211]:
df.head()

   Year Nigeria     EU    USA  World
0  2021  16.95   2.55   4.70   3.42
1  2020  13.25   0.50   1.23   1.92
2  2019  11.40   1.63   1.81   2.19
3  2018  12.09   1.74   2.44   2.44
4  2017  16.52   1.43   2.13   2.19

In [212]:
#checking for duplicates

# Select duplicate rows of all columns
# df = df[df.duplicated()]
# print(df)

This shows that there are no duplicate values in the dataframe

In [213]:
#saving the cleaned file
df.to_csv('/content/drive/MyDrive/STUTERN 1.3 ASSIGNMENT/INTERMEDIATE/inflation_data.csv')


#Data wrangling

In [214]:
columns = df.columns[1:]
columns

Index(['Nigeria', 'EU', 'USA', 'World'], dtype='object')

In [215]:
df.head()

   Year Nigeria     EU    USA  World
0  2021  16.95   2.55   4.70   3.42
1  2020  13.25   0.50   1.23   1.92
2  2019  11.40   1.63   1.81   2.19
3  2018  12.09   1.74   2.44   2.44
4  2017  16.52   1.43   2.13   2.19

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     42 non-null     int64
 1   Nigeria  42 non-null     object
 2   EU       42 non-null     object
 3   USA      42 non-null     object
 4   World    42 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.0+ KB

In [218]:
#converting the datatypes
df["EU"]= df["EU"].astype(float)
df["Nigeria"]= df["Nigeria"].astype(float)
df["USA"]= df["USA"].astype(float)
df["World"]= df["World"].astype(float)

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     42 non-null     int64
 1   Nigeria  42 non-null     float64
 2   EU       42 non-null     float64
 3   USA      42 non-null     float64
 4   World    42 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 2.0 KB

In [216]:
df.describe()

              Year
count    42.000000
mean   2000.500000
std      12.267844
min    1980.000000
25%    1990.250000
50%    2000.500000
75%    2010.750000
max    2021.000000

#Working up insight

we will be answering some questions


1.   At what year did we experience a significant hike in inflation rate?
2.   In what year did w experience a decrease in inflation rate?



3.   What country shows a consistency in inflation rate?
4.   How does Nigeria compare to other countries


5.  Which country had the highest average inflation?
6. Which country had the lowest average inflation?
7. How does historical inflation compare to recent inflation rates?